body {
    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand img {
    height: 50px;
    width: 200px;
}

.nav a {
    color: white !important;
}

footer {
    background-color: #0082CA;
    color: white;
    padding: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

h4, p {
    color: #0082CA;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #6195e8;
    color: red;
}

#form-div {
    margin: auto;
    width: 50%;
}

#action-table {
    margin-left: 25%;
    margin-right: 25%;
}

#action-table td {
     padding-top: 3%;
}

#action-table button {
    height: 6em;
    width: 15em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#cool-button figure {
    width: 200px;
    height: 60px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
}

#cool-button figure div {
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

#cool-button figure:hover div {
    transform: rotateX(-90deg);
}

#cool-button span {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid #fff;
    font-family: 'Source Sans Pro',sans-serif;
    line-height: 50px;
    font-size: 17pt;
    text-align: center;
    text-transform: uppercase;
}

#cool-button span:nth-child(1) {
    color: rgb(255, 255, 255);
    transform: translate3d(0, 0, 30px);
    -webkit-transform: translate3d(0, 0, 30px);
    background: #0082CA;
}

#cool-button span:nth-child(2) {
    color: #faf9ff;
    background: rgb(1, 108, 165);
    transform: rotateX(90deg) translate3d(0, 0, 30px);
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}